.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  padding-bottom: 10rem;
}